{% extends 'project/layout.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('repos.static', filename='css/styles.css') }}">
{% endblock %}
{% block content %}
    {% set base_repo_url =  url_for('repos.get_dirs', owner_name=repo.owner.login, repo_name=repo.name) %}

    <h3 class="col-md-12">
        <a href="{{url_for('profile.get_details', username=repo.owner.login)}}">{{ repo.owner.login }}</a>
        <span>/</span>
        <a href="{{base_repo_url}}">{{ repo.name }}</a>
    </h3>
    <hr class="col-xs-12">
    <div class="col-md-12">
        <h3>Code Directory</h3>

        <p class="nav-breadcrumb">
            <a href="{{ base_repo_url }}" class="base_dir path-link">{{ repo.name }}</a>
            {% for file_nav_url in file_nav_urls %}
                <span>/</span>
                <a href="{{ file_nav_url.url }}/" class="path-link">{{file_nav_url.url_name}}</a>
            {% endfor %}
            <a href="{{history_url}}" class="btn btn-md btn-default pull-right">History</a>
        </p>

        {% if file_contents %}
            <div class="file-contents">
                {{ file_contents | safe}}
            </div>
        {% else %}
            <table class="table table-striped table-bordered">
                <tbody>
                    {% for content in repo_contents | sort(attribute='type') %}
                        <tr>
                            <td class="content-row">
                                {% if content.type == 'dir' %}
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                    <a href="{{'{}/'.format(content.name)}}">{{ content.name }}</a>
                                {% else %}
                                    <span class="glyphicon glyphicon-file"></span>
                                    <a href="{{url_for('repos.get_file', owner_name=repo.owner.login, repo_name=repo.name, file_path=content.path)}}">
                                        {{ content.name }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

