{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('repos.static', filename='css/styles.css') }}">
{% endblock %}
{% block content %}
    {% set repo_url = "/repos/{}".format(repo.full_name) %}
    <h3 class="col-md-8 col-md-offset-2">{{ repo.owner.login }}/<a href="{{repo_url}}">{{ repo.name }}</a></h3>
    <div class="col-md-8 col-md-offset-2">
        <h3>Code Directory</h3>
        <p>
            <a href="{{ repo_url }}" class="base_dir path-link">{{ repo.name }}</a>
            <span>/</span>
            {% for path_element in get_fragment_list(request.path) %}
                <a href="{{repo_url}}/{{path_element.url_path}}/" class="path-link">{{path_element.url_name}}</a>
                <span>/</span>
            {% endfor %}
        </p>
        {% if repo_contents.type == 'file' %}
            <div class="col-md-8">
                    <code>

                        {{ convert_text_to_html(repo_contents.decoded_content.decode('utf-8')) | safe}}
                    </code>
            </div>
        {% else %}
            <table class="table table-striped table-bordered">
                <tbody>
                    {% for content in repo_contents | sort(attribute='type') %}
                        <tr>
                            <td class="content-row">
                                {% if content.type == 'dir' %}
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                    <a href="{{'{}/'.format(content.name)}}">{{ content.name }}</a>
                                {% else %}
                                    <span class="glyphicon glyphicon-file"></span>
                                    <a href="{{'{}'.format(content.name)}}">{{ content.name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

